<center>
    <h1>
    <%= link_to '<button type="button" class="button">My games</button>'.html_safe, sports_path %>
    <%= link_to '<button type="button" class="button">My leagues</button>'.html_safe, sports_path %>
    </br>
    </br>
    <%= link_to '<button type="button" class="button">Dashboard</button>'.html_safe, sports_path %>
    </h1>
    </br>
    <%= link_to '<button type="button" class="button">Save</button>'.html_safe, sports_path %>
</center>
<title>Sports Meetup!</title>
